section.repository-list {
    margin: 40px;

    h1{
        margin-bottom: 16px;
        font-size: 32px;
        color: #fff;
        position: relative;
    }
    ul{
        display: flex;
        list-style: none;
        li{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 2px 5px;

            margin: 20px;
            max-width: 200px;
            height: 200px;
            border: 1px solid #999;
            border-radius: 15px;
            text-align: center;

            strong{
                color: #0c9122;
            }
            p{
                font-size: 14px;
                color: #999;
                margin-top: 8px;
            }
            a{
                display: inline-block;
                margin-top: 16px;
                text-decoration: none;
                color: #8257e6;
            }
        }
    }
}